#botao-resposta {
    width: 100%;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 10px;
    border: 1px solid;
    border-radius: 50px;

    cursor: pointer;
}

#botao-resposta svg {
    width: 30px;
}

/* Tema claro */
.tema-claro #botao-resposta {
    border-color: var(--corDetalheClaro);

    background-color: var(--corFundo1Claro);
}

.tema-claro #botao-resposta svg {
    fill: var(--corDetalheClaro);
}

/* Tema escuro */
.tema-escuro #botao-resposta {
    border-color: var(--corDetalheEscuro);

    background-color: var(--corFundo1Escuro);
}

.tema-escuro #botao-resposta svg {
    fill: var(--corDetalheEscuro);
}
