.botao-mais {
    position: relative;

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;
    border-radius: 10px;
    border: 1px solid;

    font-weight: 500;
    letter-spacing: 5px;
    text-transform: uppercase;

    cursor: pointer;

    transition: .3s;
}

#botao-minimize {
    position: absolute;
    right: 0;

    width: 40px;

    transition: .3s;
}

/* Tema claro */
.tema-claro .tema-ativado {
    border-color: var(--cor01Claro);

    background-color: var(--cor02Claro);
    color: var(--cor01Claro);
}

.tema-claro .tema-ativado #botao-minimize {
    fill: var(--cor01Claro);

    transform: rotate(180deg);
}

.tema-claro .tema-desativado {
    border-color: var(--cor02Claro);

    background-color: var(--cor01Claro);
    color: var(--cor02Claro);
}

.tema-claro .tema-desativado #botao-minimize {
    fill: var(--cor02Claro);

    transform: rotate(0deg);
}

/* Tema escuro */
.tema-escuro .tema-ativado {
    border-color: var(--cor01Escuro);

    background-color: var(--cor02Escuro);
    color: var(--cor01Escuro);
}

.tema-escuro .tema-ativado #botao-minimize {
    fill: var(--cor01Escuro);

    transform: rotate(180deg);
}

.tema-escuro .tema-desativado {
    border-color: var(--cor02Escuro);

    background-color: var(--cor01Escuro);
    color: var(--cor02Escuro);
}

.tema-escuro .tema-desativado #botao-minimize {
    fill: var(--cor02Escuro);

    transform: rotate(0deg);
}
