.botao-mais {
    position: relative;

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;
    border-radius: 10px;
    border: 1px solid;

    font-weight: 500;
    letter-spacing: 5px;
    text-transform: uppercase;

    cursor: pointer;

    transition: .3s;
}

#botao-minimize {
    position: absolute;
    right: 0;

    width: 40px;

    transition: .3s;
}

/* Tema claro */
.tema-claro .tema-mais-ativado {
    border-color: var(--corDetalheClaro);

    background-color: var(--corFundo1Claro);
    color: var(--corDetalheClaro);
}

.tema-claro .tema-mais-ativado #botao-minimize {
    fill: var(--corDetalheClaro);

    transform: rotate(180deg);
}

.tema-claro .tema-mais-desativado {
    border-color: var(--corDetalheClaro);

    background-color: var(--corFundo2Claro);
    color: var(--corDetalheClaro);
}

.tema-claro .tema-mais-desativado #botao-minimize {
    fill: var(--corDetalheClaro);

    transform: rotate(0deg);
}

/* Tema escuro */
.tema-escuro .tema-mais-ativado {
    border-color: var(--corDetalheEscuro);

    background-color: var(--corFundo1Escuro);
    color: var(--corTextoEscuro);
}

.tema-escuro .tema-mais-ativado #botao-minimize {
    fill: var(--corDetalheEscuro);

    transform: rotate(180deg);
}

.tema-escuro .tema-mais-desativado {
    border-color: var(--corDetalheEscuro);

    background-color: var(--corFundo2Escuro);
    color: var(--corTextoEscuro);
}

.tema-escuro .tema-mais-desativado #botao-minimize {
    fill: var(--corTextoEscuro);

    transform: rotate(0deg);
}
