.writing-systems-display {
    display: flex;
    min-width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.writing-systems-display .writing-system {
    max-width: 100%;
    display: flex;
    margin-right: 200%;
}
/* .writing-systems-display .writing-system:not(:first-child) {
    display: none;
} */
.writing-systems-display .writing-system .kana {
    min-width: 100%;
    height: 100%;
    padding: 5px;
    overflow-y: scroll;
}
.writing-systems-display .writing-system .kana .set {
    display: flex;
}