#ex-resultado svg {
    width: 60px;

    display: flex;

    margin: 10px;
    padding: 5px;
    border-radius: 50%;
}

/* Tema claro */
.tema-claro #ex-resultado svg {
    background-color: var(--corDetalheClaro);
}

.tema-claro .tema-neutro svg {
    fill: var(--corFundo1Claro);
}

.tema-claro .tema-correto svg {
    fill: var(--corCorretoClaro);
}

.tema-claro .tema-errado svg {
    fill: var(--corErradoClaro);
}

/* Tema escuro */
.tema-escuro #ex-resultado svg {
    background-color: var(--corDetalheEscuro);
}

.tema-escuro .tema-neutro svg {
    fill: var(--corFundo1Escuro);
}

.tema-escuro .tema-correto svg {
    fill: var(--corCorretoEscuro);
}

.tema-escuro .tema-errado svg {
    fill: var(--corErradoEscuro);
}
