.ideogram-card {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    margin: 5px;
    background: white;
    font-weight: bold;
    transition: border-bottom .1s ease;
}
.ideogram-card:hover {
    border-bottom: 5px solid black;
}
.ideogram-card .ideogram {
    font-size: 2.1rem;
}
.ideogram-card .romanji {
    font-size: 1.7rem;
}