#botao-iniciar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#botao-iniciar button {
    width: 150px;
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px;
    border-radius: 50%;

    background-color: transparent;

    cursor: pointer;
}

#botao-iniciar svg {
    width: 150px;
    height: 150px;
}
