.box-ideo-grupo {
    padding-bottom: 10px;
}

.box-grupo {
    overflow-y: scroll;

    transition: 0.3s;
}

#ideo-grupo {
    padding-top: 60px;
}

.box-grupo::-webkit-scrollbar {
    display: none;
}

#ideo-grupo {
    min-height: 100vh;
}

.box-grupo > div {
    width: 100%;
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px 0;
    border: 1px solid;
    border-radius: 10px;

    cursor: pointer;

    transition: .1s;
}

/* Tema claro */
.tema-claro .box-grupo > div {
    border-color: var(--cor02Claro);
    color: var(--cor02Claro);
}

/* Tema escuro */
.tema-escuro .box-grupo > div {
    border-color: var(--cor02Escuro);
    color: var(--cor02Escuro);
}
