.box-ideo-grupo {
    padding-bottom: 10px;
}

.box-grupo {
    overflow-y: scroll;

    transition: 0.3s;
}

#ideo-grupo {
    padding-top: 60px;
}

.box-grupo::-webkit-scrollbar {
    display: none;
}

#ideo-grupo {
    min-height: 100vh;
}
