.config-card {
    width: 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.config-ideo {
    font-size: 1.6em;
    font-weight: bold;
}

.config-roman {
    font-size: 0.9em;
}
