#sc-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#ex-resultado svg {
    width: 60px;

    display: flex;

    padding: 10px;
    border-radius: 50%;
}

#box-ex-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#box-ex-card > div {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 8em;
    font-weight: bold;
    letter-spacing: 0px;
}

#ex-resposta {
    width: 70px;
    height: 50px;

    border: 1px solid black;
    border-radius: 50px;

    background-color: transparent;

    font-size: 1.3em;
    text-align: center;
}

#ex-resposta:focus {
    outline: none;
}

/* Tema claro */
.tema-claro .tema-neutro svg {
    fill: var(--corTextoClaro);
}

.tema-claro .tema-correto svg {
    fill: var(--corCorretoClaro);
}

.tema-claro .tema-errado svg {
    fill: var(--corErradoClaro);
}

.tema-claro #box-ex-card div {
    color: var(--corTextoClaro);
}

.tema-claro #ex-resposta {
    border-color: var(--corDetalheClaro);
    color: var(--corTextoClaro);
}

/* Tema escuro */
.tema-escuro .tema-neutro svg {
    fill: var(--corTextoEscuro);
}

.tema-escuro .tema-correto svg {
    fill: var(--corCorretoEscuro);
}

.tema-escuro .tema-errado svg {
    fill: var(--corErradoEscuro);
}

.tema-escuro #box-ex-card div {
    color: var(--corTextoEscuro);
}

.tema-escuro #box-ex-card div {
    color: var(--corTextoEscuro);
}

.tema-escuro #ex-resposta {
    border-color: var(--corDetalheEscuro);
    background-color: var(--corInput1Escuro);
    color: var(--corTextoEscuro);
}
