#sc-hiragana-config {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 60px;
}

.box-grupo {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
