@charset 'UTF-8';

:root {
  /* Paleta de cores claro */
  --cor01Claro: rgb(210, 190, 248);
  --cor02Claro: rgb(27, 27, 27);
  --cor03Claro: rgb(200, 200, 200);

  /* Paleta de cores escuro */
  --cor01Escuro: rgb(25, 25, 25);
  --cor02Escuro: rgb(210, 190, 248);
  --cor03Escuro: rgb(70, 70, 70);
}

* {
  padding: 0;
  margin: 0;

  font-family: Poppins, sans-serif;

  box-sizing: border-box;
}

.largura-limitada {
  max-width: 300px;
  margin: auto;
}

/* Tema claro */
.tema-claro {
  background-color: var(--cor01Claro);
}

.tema-escuro {
  background-color: var(--cor01Escuro);
}
