@charset 'UTF-8';

:root {
  /* Paleta de cores claro */
  --corFundo1Claro: rgb(240, 225, 243);
  --corFundo2Claro: rgb(233, 221, 49);
  --corTextoClaro: rgb(36, 36, 36);
  --corDetalheClaro: rgb(36, 36, 36);
  --corCorretoClaro:rgb(59, 59, 240);
  --corErradoClaro: rgb(247, 48, 48);

  /* Paleta de cores escuro */
  --corFundo1Escuro: rgb(12, 18, 65);
  --corFundo2Escuro: rgb(185, 55, 83);
  --corTextoEscuro: rgb(240, 225, 243);
  --corDetalheEscuro: rgb(240, 225, 243);
  --corCorretoEscuro: rgb(63, 63, 212);
  --corErradoEscuro: rgb(219, 57, 57);
}

/* Configurações globais */
* {
  padding: 0;
  margin: 0;

  font-family: Poppins, sans-serif;

  box-sizing: border-box;

  -webkit-tap-highlight-color: transparent;
}

/* Classe para limitar o tamanho de alguns elementos */
.largura-limitada {
  max-width: 350px;
  margin: 0 auto;
}

/* Altura minima de toda aplicação */
#app {
  min-height: 100vh;
}

/* Configurações da scrollbar do site */
body::-webkit-scrollbar {
  width: 10px;
  border-left: 1px solid;
}

/* Tema claro */
.tema-claro {
  background-color: var(--corFundo1Claro);
}

.tema-claro::-webkit-scrollbar {
  border-color: var(--corDetalheClaro);
  background-color: var(--corFundo1Claro);
}

.tema-claro::-webkit-scrollbar-thumb {
  background-color: var(--corDetalheClaro);
}

/* Tema escuro */
.tema-escuro {
  background-color: var(--corFundo1Escuro);
}

.tema-escuro::-webkit-scrollbar {
  border-color: var(--corDetalheEscuro);
  background-color: var(--corFundo1Escuro);
}

.tema-escuro::-webkit-scrollbar-thumb {
  background-color: var(--corDetalheEscuro);
}
