@charset 'UTF-8';

:root {
  /* Paleta de cores claro */
  --corFundo1Claro: rgb(234, 191, 243);
  --corFundo2Claro: rgb(245, 218, 67);
  --corTextoClaro: rgb(25, 25, 25);
  --corDetalheClaro: rgb(25, 25, 25);
  --corCorretoClaro: rgb(247, 48, 48);
  --corErradoClaro: rgb(59, 59, 240);

  /* Paleta de cores escuro */
  --corFundo1Escuro: rgb(12, 18, 65);
  --corFundo2Escuro: rgb(185, 55, 83);
  --corTextoEscuro: rgb(234, 191, 243);
  --corDetalheEscuro: rgb(234, 191, 243);
  --corCorretoEscuro: rgb(245, 91, 91);
  --corErradoEscuro: rgb(101, 101, 228);
}

* {
  padding: 0;
  margin: 0;

  font-family: Poppins, sans-serif;

  box-sizing: border-box;
}

.largura-limitada {
  max-width: 320px;
  margin: 0 auto;
}

#app {
  min-height: 100vh;
}

/* Tema claro */
.tema-claro {
  background-color: var(--corFundo1Claro);
}

.tema-escuro {
  background-color: var(--corFundo1Escuro);
}
