.nav {
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    transition: all .3s ease;
}
.nav ul {
    display: flex;
    list-style: none;
}
.nav ul li button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 30px;
    text-decoration: none;
    transition: all .1s ease;
}

.close .nav {
    height: 0px;
}