.nav {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav .list {
    display: flex;
    list-style: none;
}
.nav .list li button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 30px;
    text-decoration: none;
    transition: all .1s ease;
}